@import './forms.css';

/*  Color scheme
---------------------------------------------
Tradewind: #70C1B3;
Jelly Bean: #247BA0;
Torch Red: #FF1654;

body: #1c1c1c;
body-accent: #212121;
borders: #363636;
light: #ebebeb;
blocks: #2b2b2b;
*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background-color: #1c1c1c;
    color: #ccc;
}

h1 {
    margin: 0;
    padding: 0;
    color: #FF5666;
}

a {
    color: #ebebeb;
    text-decoration: none;
}

:global(.block) {
    background-color: #2b2b2b;
    padding: 20px 10px;
    margin: 0 0 20px;
}

/*  Page Layout
--------------------------------------------- */

:global(.hg__header) { grid-area: header; }
:global(.hg__footer) { grid-area: footer; }
:global(.hg__main) { grid-area: main; }
:global(.hg__left) { grid-area: navigation; }
:global(.hg__right) { grid-area: ads; }

:global(.hg) {
    display: grid;
    grid-template-areas: "header header header"
                         "navigation main ads"
                         "footer footer footer";
    grid-template-columns: 170px 1fr 200px;
    grid-template-rows: 100px 
                        1fr
                        50px;
    min-height: 100vh;

    @media screen and (max-width: 600px) {
        grid-template-areas: "header"
                             "navigation"
                             "main"
                             "ads"
                             "footer";
        grid-template-columns: 100%;
        grid-template-rows: 100px 
                            50px 
                            1fr
                            50px 
                            30px;
    }
}

/*  Header
--------------------------------------------- */
:global(.hg__header) {
    background-color: #212121;
}

:global(.hg__header) h1 {
    color: #247BA0;
}

/*  Main
--------------------------------------------- */
:global(.hg__main) {
    padding: 20px 20px;
}

/*  Left column
--------------------------------------------- */
:global(.hg__left) {
    padding: 20px 0;
}

/*  Right column
--------------------------------------------- */
:global(.hg__right) {
    padding: 0 20px;
}

/*  Footer
--------------------------------------------- */
:global(.hg__footer) {
    background-color: #212121;
    color: #70C1B3;
    text-align: center;
}
