* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background-color: #f1f1f1;
}

h1 {
    margin: 0;
    color: #F97F85;
}

a {
    color: #0275d8;
    text-decoration: none;
}

:global(.hg__header) { grid-area: header; }
:global(.hg__footer) { grid-area: footer; }
:global(.hg__main) { grid-area: main; }
:global(.hg__left) { grid-area: navigation; }
:global(.hg__right) { grid-area: ads; }

:global(.hg) {
    display: grid;
    grid-template-areas: "header header header"
                         "navigation main ads"
                         "footer footer footer";
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 100px 
                        1fr
                        30px;
    min-height: 100vh;

    @media screen and (max-width: 600px) {
        grid-template-areas: "header"
                             "navigation"
                             "main"
                             "ads"
                             "footer";
        grid-template-columns: 100%;
        grid-template-rows: 100px 
                            50px 
                            1fr
                            50px 
                            30px;
    }
}

